<header class="header">
<bodycopy class="bodycopy content content_padding">

			
			<div class="page_content clearfix" data-elementresizer="" data-resize-parent="" data-ce-host="true" data-ce-model-id="6245779">
				<div style="margin-left: 0;">
<div style="text-align: left;">
<div style="padding-top: 0;">
<h2>Valentin<br>
Guesdon</h2>
</div>

<small>

<h1>
Contact
</h1>

<p>
<span style="text-wrap:none">
<a href="https://mail.google.com/mail/u/0/?view=cm&amp;fs=1&amp;tf=1&amp;source=mailto&amp;to=guesdonvalentin@gmail.com" target="_blank">email</a>
</span><br>
<a href="https://www.instagram.com/valentin.guesdon/" target="_blank">instagram</a><br>
<a href="https://www.instagram.com/graphic.collect/" target="_blank">moodboard</a><br>
+33 6 33 83 86 98
</p>

<h1>À propos
</h1>

<p>
Diplômé d’un DNA option design mention design
graphique en 2018, j’étudie en 5<sup>e</sup> année de DNSEP
option design mention éditions à l’ésam Caen.
</p>
<p>
Au sein de mes projets, j’exprime une simplicité
ludique à travers un usage rigoureux de la forme,
qu’elle soit géométrique ou organique, noire et
blanche ou colorée, texturée ou lisse.
</p>
<p>L’interaction visuelle et/ou physique, entre
le lecteur et l’objet, qu’il soit imprimé ou
numérique, occupe le cœur de mon travail.
</p>

<h1>
Sélection de projets
</h1>

</small>

<small>

<details>
<summary>
<p>
<span style="padding:0 0 0 1.5em;">
04.2019<br>
</span>
<a href="#guide_d’un_petit_voyage_en_suisse">Guide d’un petit voyage en Suisse</a>
</p>
<h4>[affiche]</h4>
</summary>
<blockquote>
typographie : Lydian<br>
impression : jet d’encre<br>
format : 90 × 130 cm<br>
exemplaires : 3
</blockquote>
</details>

<details>
<summary>
<p>
<span style="padding:0 0 0 1.5em;">
04.2019<br>
</span>
<a href="#trois_heures_vingt">Trois heures vingt</a>
</p>
<h4>[livre]</h4>
</summary>
<blockquote>
typographie : HK Grotesk<br>
impression : laser<br>
reliure : couture à plat<br>
format : 12 × 20 cm<br>
pages : 32<br>
exemplaires : 3<br>
</blockquote>
</details>

<details>
<summary>
<p>
<span style="padding:0 0 0 1.5em;">
03.2019<br>
</span>
<a href="#speed_writing_fast_publishing">Speed Writing/Fast Publishing</a>
</p>
<h4>[sedicesimo]</h4>
</summary>
<blockquote>
typographie : Courier<br>
impression : risographie<br>
format : 30 × 42 cm<br>
exemplaires : 60
</blockquote>
</details>

<details>
<summary>
<p>
<span style="padding:0 0 0 1.5em;">
01.2019<br>
</span>
<a href="#voyage_au_centre_de_la_terre">Voyage au centre de la Terre</a>
</p>
<h4>[pochette + illustration]</h4>
</summary>
<blockquote>
technique : collage<br>
typographie : Spectral<br>
impression : risographie, sérigraphie<br>
format : 15 × 15 cm<br>
exemplaires : 15
</blockquote>
</details>

<details>
<summary>
<p>
<span style="padding:0 0 0 1.5em;">
12.2018<br>
</span>
<a href="#impressions_multiples">Impressions Multiples</a>
</p>
<h4>[affiche]</h4>
</summary>
<blockquote>
typographie : NB Akademie<br>
impression : risographie<br>
format : 42 × 59 cm<br>
exemplaires : 150
</blockquote>
</details>

<details>
<summary>
<p>
<span style="padding:0 0 0 1.5em;">
11.2018<br>
</span>
<a href="#parasols">Parasols</a>
</p>
<h4>[pochette + illustration]</h4>
</summary>
<blockquote>
s’animent avec l’application Artivive<br>
—<br>
impression : risographie<br>
formats : 15 × 21, 21 × 30, 30 × 42 cm<br>
exemplaires : 15
</blockquote>
</details>

<details>
<summary>
<p>
<span style="padding:0 0 0 1.5em;">
05.2018<br>
</span>
<a href="#les_visages_de_la_lune">Les Visages de la Lune</a>
</p>
<h4>[livre]</h4>
</summary>
<blockquote>
projet de diplôme de DNA<br>
—<br>
typographie : Faune<br>
impression : laser, sérigraphie<br>
reliure : japonaise<br>
format : 18 × 24 cm<br>
pages : 154<br>
exemplaires : 2
</blockquote>
</details>

<details>
<summary>
<p>
<span style="padding:0 0 0 1.5em;">
01.2018<br>
</span>
<a href="#portes_ouvertes_de_l’ésam_caen">Portes ouvertes de l’ésam Caen</a>
</p>
<h4>[affiche]</h4>
</summary>
<blockquote>
typographie : NB Akademie<br>
impression : sérigraphie<br>
format : 120 × 176 cm<br>
exemplaires : 20
</blockquote>
</details>

<details>
<summary>
<p>
<span style="padding:0 0 0 1.5em;">
12.2017<br>
</span>
<a href="#la_flèche_:_l’arme,_le_signe_et_le_signal">La Flèche : l’arme, le signe et le signal</a>
</p>
<h4>[objet]</h4>
</summary>
<blockquote>
typographies : Bluu Next, Neutra<br>
impression : sérigraphie<br>
taille : 60 × 24 × 8 cm<br>
exemplaire : 1
</blockquote>
</details>

<details>
<summary>
<p>
<span style="padding:0 0 0 1.5em;">
12.2017<br>
</span>
<a href="#interactions_primaires">Interactions primaires</a>
</p>
<h4>[livre]</h4>
</summary>
<blockquote>
reliure : élastique<br>
format : 20 × 30 cm<br>
pages : 8<br>
exemplaires : 2
</blockquote>
</details>

<details>
<summary>
<p>
<span style="padding:0 0 0 1.5em;">
11.2017<br>
</span>
<a href="#géométrie_urbaine_nº2">Géométrie urbaine nº 2</a>
</p>
<h4>[livre]</h4>
</summary>
<blockquote>
typographies : BilboINC, Work Sans<br>
impression : laser<br>
reliure : dos carré collé cousu<br>
format : 15 × 21 cm<br>
pages : 40<br>
exemplaire : 1
</blockquote>
</details>

<details>
<summary>
<p>
<span style="padding:0 0 0 1.5em;">
11.2017<br>
</span>
<a href="#espèces_d’espaces">Espèces d’espaces</a>
</p>
<h4>[illustration]</h4>
</summary>
<blockquote>
technique : crayons de couleur<br>
format : 21 × 15 cm<br>
exemplaire : 1 (chacun)
</blockquote>
</details>

<details>
<summary>
<p>
<span style="padding:0 0 0 1.5em;">
05.2017<br>
</span>
<a href="#exercices_de_style_typographique">Exercices de style typographique</a>
</p>
<h4>[livre]</h4>
</summary>
<blockquote>
typographie : GT Walsheim<br>
impression : laser<br>
reliure : dos carré collé cousu<br>
format : 15 × 21 cm<br>
pages : 48<br>
exemplaire : 1
</blockquote>
</details>

<details>
<summary>
<p>
<span style="padding:0 0 0 1.5em;">
04.2017<br>
</span>
<a href="#mois_de_l’architecture_contemporaine">Mois de l’architecture contemporaine</a>
</p>
<h4>[affiche]</h4>
</summary>
<blockquote>
avec Hugo Alvarez et Maxime Urbain<br>
—<br>
typographie : GT Walsheim<br>
impression : jet d’encre<br>
format : 42 × 59 cm<br>
exemplaires : 3
</blockquote>
</details>

<details>
<summary>
<p>
<span style="padding:0 0 0 1.5em;">
03.2017<br>
</span>
<a href="#géométrie_urbaine_nº1">Géométrie urbaine nº 1</a>
</p>
<h4>[livre]</h4>
</summary>
<blockquote>
typographies : Eczar, Work Sans<br>
impression : laser<br>
reliure : piqure bouclette<br>
format : 15 × 21 cm<br>
pages : 28<br>
exemplaire : 1
</blockquote>
</details>

<details>
<summary>
<p>
<span style="padding:0 0 0 1.5em;">
01.2017<br>
</span>
<a href="#ondulations_primaires">Ondulations primaires</a>
</p>
<h4>[livre + estampe]</h4>
</summary>
<blockquote>
impression : sérigraphie<br>
reliure : pince d’archive<br>
format : 33 × 46 cm<br>
pages : 8<br>
exemplaire : 1<br>
—<br>
impression : sérigraphie<br>
format : 30 × 42 cm<br>
exemplaires : 20
</blockquote>
</details>

<details>
<summary>
<p>
<span style="padding:0 0 0 1.5em;">
11.2015<br>
</span>
<a href="#from_a_geometrical_way">From a Geometrical Way</a>
</p>
<h4>[livre]</h4>
</summary>
<blockquote>
reliure : accordéon<br>
format : 16 × 16 cm<br>
pages : 12<br>
exemplaire : 1
</blockquote>
</details>

</small>

</div></div>
			</div>

			<svg width="1" height="1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" class="marker-overlay">
 <!-- Created with SVG-edit - https://github.com/SVG-Edit/svgedit-->
 <g transform="translate(196.4992218017578, 231.9065399169922)" class="layer">
  <title>Mark</title>
 </g>
</svg>
		</bodycopy>
</header>