/**
 * Content
 */

body {
    cursor: url("../images/icone_fleche.png"), pointer;
    background-color: black;
	color: rgba(255, 255, 255, 0.95);
}

a {
    text-decoration: none;
}

a:link {
}

a:visited {
}

a:hover {
    font-style: italic; 
}

a:active {
	opacity: 1;
    text-decoration: none;
}


.logo-svg img{
	width: 160px;
	height: 160px;
}

.content_padding {
	padding-top: 4.5rem /*!main_margin*/;
	padding-bottom: 4.5rem /*!main_margin*/;
	padding-left: 4.5rem /*!main_margin*/;
	padding-right: 0rem /*!main_margin*/;
}
