/**
 * Content
 */

body {
    cursor: url("../images/icone_fleche.png"), pointer;
    background-color: black;
}

a {
    text-decoration: none;
}

a:link {
}

a:visited {
}

a:hover {
    font-style: italic; 
}

a:active {
	opacity: 1;
    text-decoration: none;
}